{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <section class="section">
            <div class="container">

                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h2 class="posts-entry-title">HANSEO UNIV. BACKEND TEAM 2 소개</h2><br/><br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a  class="img-link"><img src="{% static 'example.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <span style = "font-size:120%; font-weight: bold;">김훈섭</span><hr style="margin-top:0; width:60px;" noshade />
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block">Backend</span>
                                </div>

                                <p>멋쟁이 사자처럼 10기 백엔드 2팀 팀원입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a  class="img-link"><img src="{% static 'example.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <span style = "font-size:120%; font-weight: bold;">김경준</span><hr style="margin-top:0; width:60px;" noshade />
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">Backend</span>
                                </div>

                                <p>멋쟁이 사자처럼 10기 백엔드 2팀 팀원입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a  class="img-link"><img src="{% static 'example.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <span style = "font-size:120%; font-weight: bold;">김기찬</span><hr style="margin-top:0; width:60px;" noshade />
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">Backend</span>
                                </div>

                                <p>멋쟁이 사자처럼 10기 백엔드 2팀 팀원입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a  class="img-link"><img src="{% static 'example.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <span style = "font-size:120%; font-weight: bold;">김지원</span><hr style="margin-top:0; width:60px;" noshade />
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">Backend</span>
                                </div>

                                <p>멋쟁이 사자처럼 10기 백엔드 2팀 팀원입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a  class="img-link"><img src="{% static 'example.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <span style = "font-size:120%; font-weight: bold;">심용훈</span><hr style="margin-top:0; width:60px;" noshade />
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">Backend</span>
                                </div>

                                <p>멋쟁이 사자처럼 10기 백엔드 2팀 팀원입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</section>


{% endblock %}