{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <section class="section">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h2 class="posts-entry-title">전체 게시글 목록</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="single.html" class="img-link"><img src="{% static 'likelion.png' %}"
                                    alt="Image" class="img-fluid"></a>
                            <div class="excerpt">
                                <h2><a href="single.html">일정표 계획표</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
                                    <span>&nbsp;-&nbsp; 2022-07-25</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor
                                    laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae!
                                    Illo, aliquid, dicta beatae quia porro id est.</p>
                                <p><a href="#" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

{% endblock %}